* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777;
  padding: 25px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(101, 209, 82, 0.8),
      rgba(32, 177, 127, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

.heading-primary {
  color: white;
  margin-bottom: 20px;
}

.heading-primary .main-text {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 25px;
  display: block;
  animation-name: moveInFromLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.heading-primary .sub-text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 14px;
  display: block;
  animation-name: moveInFromRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 14px 35px;
  border-radius: 25px;
  transition: transform 0.2s;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn-animated {
  animation-name: moveInFromBottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translate(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  80% {
    transform: translate(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}
